<li class="collection-item text-darken-2">
  <p class="title"><%= question.title %></p>
  <small><%= question.description %></small>
</li>
<% if @show_form == true %>
  <%= render partial: "answers/form", locals: { question: question } %>
<% end %>
