<li class="collection-item text-darken-2">
  <p class="title"><b><%= question.title %></b></p>
  <p><%= question.description %></p>
</li>
<% if @show_answer_form == true %>
  <%= render partial: "answers/form", locals: {question_id: question.id }%>
<% end %>
