<li class="collection-item text-darken-2">
  <p class="title"><%= question.title %></p>
  <small><%= question.description %></small>
</li>
<% if @show_answer_form == true %>
  <%= render partial: "answers/form" %>
<% end %>
