<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content">
        <h5> <%= @audit.checklist.title %></h5>
        <p> <%= @audit.checklist.description %></p>
        <hr />
        <% @audit.checklist.questions.any?  do %>
        <ul class="card-body">
          <span class="card-title">Answer <%= @audit.checklist.count_questions %> Questions:</span>
            <%= render 'form', audit: @audit %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
