<header class="navbar-fixed">
  <nav class="light-green darken-1" role="navigation">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo pl-2">Lifemanager</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#!">Home</a></li>
        <li><a href="#!">Contacts</a></li>
        <li><a href="#!">About</a></li>
      </ul>
    </div>
  </nav>
</header>
